In [ ]:
!pip install yfinance
!pip install bs4
!pip install nbformat

In [48]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [50]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [52]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [54]:
data=yf.Ticker('TSLA')

In [56]:
tesla_data=data.history(period="max")

In [57]:
tesla_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0
...,...,...,...,...,...,...,...
2025-02-04 00:00:00-05:00,382.630005,394.000000,381.399994,392.209991,57072200,0.0,0.0
2025-02-05 00:00:00-05:00,387.510010,388.390015,375.529999,378.170013,57223300,0.0,0.0
2025-02-06 00:00:00-05:00,373.029999,375.399994,363.179993,374.320007,77918200,0.0,0.0
2025-02-07 00:00:00-05:00,370.190002,380.549988,360.339996,361.619995,70298300,0.0,0.0
2025-02-10 00:00:00-05:00,356.209991,362.700012,350.510010,350.730011,76860600,0.0,0.0

In [60]:
tesla_data.reset_index(inplace=True)

In [62]:
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

## Web Scraping

In [97]:
url=" https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"

In [99]:
data2=requests.get(url).text

In [100]:
beautiful_soup=BeautifulSoup(data2,'html.parser')

In [ ]:
beautiful_soup

In [185]:
tesla_revenue = pd.DataFrame(columns=["Year", "Revenue"])

In [187]:
for row in beautiful_soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    year = col[0].text.strip()  
    revenue = col[1].text.strip()  

   
    tesla_revenue = pd.concat([tesla_revenue, pd.DataFrame({"Year": [year], "Revenue": [revenue]})], ignore_index=True)

In [197]:
tesla_revenue["Revenue"] = tesla_revenue["Revenue"].str.replace(r",|\$", "", regex=True)

In [199]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [203]:
tesla_revenue.tail()

    Year Revenue
8   2013    2013
9   2012     413
10  2011     204
11  2010     117
12  2009     112